.hidden{
  display: none;
}

/*           */
/*GAME CANVAS*/
/*           */
#gameContainer{
  position:absolute;
  top: 100px;
  left: 0;
}

/*      */
/*FOOTER*/
/*      */
.babyFeet {
  color: #999; /* IE8 proofing */
  color: rgb(34, 71, 88);
  letter-spacing: 3px;
  position:fixed;
  bottom:10px;
  width: 100%;
  margin: 0 auto;
}

/*      */
/*LOBBY */
/*      */
.lobbyRoomContainer{
  
}
.lobbyRoom{
  
}

/*            */
/*LOADING PAGE*/
/*            */
.loading{
  background-color:black;
  height:120px;
}
.loading-title{
  height:20px;
  float:left;
  font-family: 'Poiret One', cursive;
  color: rgba(255,255,255,0.8);  
}
.row{
  float:left;
  height:50px;
  width:100%;
}
.bar{
  float:left;
  margin-right:9px;
  background-color:white;
  width:8px;
  height:10px;
}
.one{
/*   animation-name: moving;
  animation-duration:5s;
  animation-delay: 0s;
  animation-iteration-count: infinite; */
  animation: moving 1s ease-in-out 0s infinite;  
}
.two{
  animation: moving 1s ease-in-out 0.25s infinite;
}
.three{
  animation: moving 1s ease-in-out 0.5s infinite;
}
.four{
  animation: moving 1s ease-in-out 0.75s infinite;
}
.five{
  animation: moving 1s ease-in-out 1s infinite;
}
.six{
  animation: moving 1s ease-in-out 1.25s infinite;
}
.seven{
  animation: moving 1s ease-in-out 1.5s infinite;
}

@keyframes moving {
  0%  {
    height:10px;
  }
  50%  {
    background-color:rgba(128, 128, 128, 0.5);
    height:30px;        
  }
  100%  {
    height:10px;            
  }
}

.one-inv{
  margin-top:40px;  
  animation: moving-inv 1s ease-in-out 0s infinite;  
}
.two-inv{
  margin-top:40px;  
  animation: moving-inv 1s ease-in-out 0.25s infinite;
}
.three-inv{
  margin-top:40px;  
  animation: moving-inv 1s ease-in-out 0.5s infinite;
}
.four-inv{
  margin-top:40px;  
  animation: moving-inv 1s ease-in-out 0.75s infinite;
}
.five-inv{
  margin-top:40px; 
  animation: moving-inv 1s ease-in-out 1s infinite;
}
.six-inv{
  margin-top:40px;  
  animation: moving-inv 1s ease-in-out 1.25s infinite;
}
.seven-inv{
  margin-top:40px;  
  animation: moving-inv 1s ease-in-out 1.5s infinite;
}
@keyframes moving-inv {
  0%  {
    margin-top:40px;
    height:10px;
  }
  50%  {
    margin-top:20px;
    background-color:rgba(128, 128, 128, 0.5);
    height:30px;        
  }
  100%  {
    margin-top:40px;    
    height:10px;            
  }